<template>
  <div class="container mt-3">
    <div class="row">
        <form @submit.prevent="saveUser(user)" class="mt-3 col-12">
          <div class="form-group col-12">
            <label>Name</label>
            <input type="text" v-model="user.name" class="form-control">
          </div>
          <div class="form-group col-12">
            <label>Email</label>
            <input type="text" v-model="user.email" class="form-control">
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input type="password" v-model="user.password" class="form-control">
          </div>
          <div class="form-group col-12">
            <button type="submit" class="btn btn-success">
              Submit
            </button>
            <router-link :to="'/users'" class="btn btn-danger">
              cancel
            </router-link>
          </div>
        </form>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'user-new',
  data () {
    return {
      user: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  methods: mapActions([
    'saveUser'
  ])
}
</script>
