<template>
  <div class="container mt-3">
    <div class="row">
      <form @submit.prevent="updateUser(userData, userData.id)" class="mt-3 col-12">
        <div class="form-group col-12">
          <label>Name</label>
          <input type="text" class="form-control" v-model="userData.name">
        </div>
        <div class="form-group col-12">
          <label>Email</label>
          <input type="text" class="form-control" v-model="userData.email">
        </div>
        <div class="form-group col-12">
          <label>Password</label>
          <input type="password" class="form-control" v-model="userData.password">
        </div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-success">
            Submit
          </button>
          <router-link :to="'/users'" class="btn btn-danger">
            Cancel
          </router-link>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import store from '@/store/store'
export default {
  data () {
    return {
      userData: {}
    }
  },
  computed: mapGetters({
    user: 'findUser'
  }),
  beforeRouteEnter: async (routerTo, routerFrom, next) => {
    const data = await store.dispatch('findUser', routerTo.params.id)
    if (data.status === 200) {
      next()
    } else if (data.response.status === 404) {
      next({name: '404'})
    } else {
      next()
    }
  },
  mounted () {
    this.$store.dispatch('findUser', this.$route.params.id)
    this.userData = Object.assign({}, {id: this.user.id, name: this.user.name, email: this.user.email, password: this.user.password})
  },
  methods: {
    ...mapActions([
      'updateUser'
    ])
  }
}
</script>
