<template>
  <div class="container mt-3">
    <router-link :to="'/users/create'" class="btn btn-info">
      add
    </router-link>
    <table class="table table-hover mt-5">
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users" :key="user.id">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><button class="btn btn-danger" @click="destroy(user.id)">del</button><router-link :to="'/users/edit/'+ user.id +''" class="btn btn-info">edit</router-link></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'users-index',
  computed: mapGetters({
    users: 'allUsers'
  }),
  methods: mapActions([
    'destroy'
  ]),
  created () {
    console.log(process.env.API_URL)
    this.$store.dispatch('getAllUser')
  }
}
</script>
